@model TesteMR.Models.Artigo

@{
    ViewData["Title"] = "Artigos";
}

<div class="card-header card-header-primary">
    <h4 class="card-title ">Detalhe</h4>
</div>
<div class="card-body">
    <div class="table-responsive">
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.cCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.cCode)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.cDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.cDescription)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.cUnitCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.cUnitCode)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.nUnitPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.nUnitPrice)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.dCreateDateTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.dCreateDateTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.dChangedDateTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.dChangedDateTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.uId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.uId)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
        <a asp-action="Index">Retornar a lista</a>
    </div>
</div>
